.containerPicker {
  position: relative;
}

.contentColors {
  background-color: #1a1a1a;

  .colorBall {
    width: 10px;
    height: 10px;
    background-color: aqua;
    margin-right: 4px;
    margin-top: 3px;
    border-radius: 100%;
  }
}

.navbarItems {
  gap: 1rem;
  .item {
    display: flex;
    align-items: center;
  }
}
