.containerPicker {
  position: relative;
  margin: 0 auto;
  margin-top: 1rem;

  input[type="range"] {
    background-color: transparent;
  }
}

.contentColors {
  margin: 0 auto;
  background-color: #1a1a1a;

  .item {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .selectedItem {
    border: 2px solid blue;
  }

  .colorBall {
    width: 10px;
    height: 10px;
    margin-right: 4px;
    margin-top: 3px;
    border-radius: 100%;
    border: none;
  }
  .selectedColor {
    border: 4px solid white;
    padding: 2px;
  }
}

.navbarColors {
  gap: 1rem;
  .item {
    display: flex;
    align-items: center;
  }
}

input[type="range"] {
  -webkit-appearance: none; /* Remover o estilo padrão do navegador */
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remover o estilo padrão do navegador */
  appearance: none;
  width: 8px;
  height: 37px;
  background: #838383; /* Cor do thumb */
  border: 2px solid white;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 8px;
  height: 37px;
  background: #838383; /* Cor do thumb */
  border: 2px solid white;
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  width: 8px;
  height: 37px;
  background: #838383; /* Cor do thumb */
  border: 2px solid white;
  cursor: pointer;
}
